@using GridMvc.Html
@model ClinicSystem.WebApplication.Models.DoctorIndexViewModel

@{
    ViewBag.Title = "Specjaliści Luxcover";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Sprawdź specjalistów naszych przychodni</h4>
    <hr />
    @Html.Grid(Model.DoctorDtos).Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Imię");
        columns.Add(c => c.LastName).Titled("Nazwisko");
        columns.Add(c => c.EmplacementName).Titled("Specjalizacja");
        columns.Add(c => c.ClinicName).Titled("Przychodnia");
        columns.Add(c => c.ClinicAddress).Titled("Adres przychodni");
        columns.Add(c => c.UnitName).Titled("Oddział");
    }).WithPaging(10).Sortable(true).Filterable(true)
</div>
