
@{
    ViewBag.Title = "Index";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie danymi lekarstw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>
        <dd>

        </dd>
    </dl>
</div>

