@{
    ViewBag.Title = "Strona domowa";
}

<div class="jumbotron">
    <h1>Przychodnia Luxcover</h1>
    <p class="lead">Już od ponad 25 lat dbamy o zdrowie naszych pacjentów. Każdego dnia dokładamy wszelkich starań, aby osoby znajdujące się pod naszą opieką były zadowolone ze świadczonych przez nas usług, czuły się bezpiecznie i wiedziały, że mogą liczyć na pomoc i poradę doświadczonych specjalistów.</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Umów wizytę</h2>
        <p>
            Zarezerwuj wizytę u najpopularniejszych specjalistów w kilku prostych krokach, w placówce odpowiadającej Twoim potrzebom.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Umów wizytę &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nasze placówki</h2>
        <p>Sprawdź dostępne placówki Luxcover i wybierz odpowiednią dla Twoich oczekiwań.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nasi specjaliści</h2>
        <p>Sprawdź najlepszych specjalistów pracujących w Luxcover.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Sprawdź &raquo;</a></p>
    </div>
</div>