@using GridMvc.Html
@model ClinicSystem.WebApplication.Models.ClinicIndexViewModel

@{
    ViewBag.Title = "Placówki Luxcover";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Sprawdź przychodnię i oddziały, gdzie możesz umówić wizytę u specjalistów Luxcover</h4>
    <hr />
    @Html.Grid(Model.ClinicDtos).Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Nazwa");
        columns.Add(c => c.Address).Titled("Adres");
        columns.Add(c => c.Units).Titled("Oddziały");
    }).WithPaging(10).Sortable(true).Filterable(true)
</div>