@model ClinicSystem.WebApplication.Models.ClinicIndexViewModel

@{
    ViewBag.Title = "Placówki Luxcover";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Sprawdź przychodnię i oddziały, gdzie możesz umówić wizytę u specjalistów Luxcover</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Adres</th>
                <th>Oddziały</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clinicDto in Model.ClinicDtos)
            {
                <tr>
                    <td>@clinicDto.Name</td>
                    <td>@clinicDto.Address</td>
                    <td>@clinicDto.Units</td>
                </tr>
            }
        </tbody>
    </table>
</div>
