@using ClinicSystem.WebApplication.Models;

@model RoleEditViewModel

@{
    ViewBag.Title = "Edytuj rolę";
}

@using (Html.BeginForm("Save", "RoleEdit"))
{
    <div class="row">
        <div class="col-md-8">
            <section id="editRoleForm">

                <div class="form-group">
                    @Html.LabelFor(m => m.RoleId, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.RoleId,
                            new SelectList(Model.Roles, "ID", "NAME"),
                            "Wybierz rolę...",
                            new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.HiddenFor(m => m.AspNetUserId)
                        <input type="submit" value="Zapisz" class="btn btn-default"/>
                    </div>
                </div>

            </section>
        </div>
    </div>
}
