@model ClinicSystem.WebApplication.Models.VisitIndexViewModel

@{
    ViewBag.Title = "Umawianie wizyty";
}

<h2>@ViewBag.Title</h2>
<hr />
<h4>@Model.Message</h4>
<h5>Szczegóły wizyty i jej przebieg wraz z przepisanymi lekami możesz sprawdzić w zakładce "Wizyty i badania".</h5>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
