@model ClinicSystem.WebApplication.Models.VisitIndexViewModel

@{
    ViewBag.Title = "Umawianie wizyty";
}

<h2>@ViewBag.Title</h2>
<hr />
<h4>@Model.Message</h4>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
