@using GridMvc.Html
@model ClinicSystem.WebApplication.Models.DiseasesViewModel

@{
    ViewBag.Title = "Słownik chorób";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie danymi słownika chorób</h4>
    <hr />
    @Html.Grid(Model.Diseases).Columns(columns =>
    {
        columns.Add(c => c.CODE).Titled("Kod choroby");
        columns.Add(c => c.CODE_DESCRIPTION).Titled("Opis");
    }).WithPaging(10).Sortable(true).Filterable(true)
    <br />
    @Html.ActionLink("Dodaj chorobę", "AddDisease", "Examination", htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</div>
