@{
    ViewBag.Title = "Wizyty i badania";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie danymi wizyt i badań</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <br />
        </dd>
        <dt>Słowniki:</dt>
        <dd>
            [ @Html.ActionLink("Wyświetl słownik chorób", "Diseases") ]
        </dd>
    </dl>
</div>
