<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClinicSystemDbContext" connectionString="metadata=res://*/Model.ClinicSystemDatabase.csdl|res://*/Model.ClinicSystemDatabase.ssdl|res://*/Model.ClinicSystemDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=clinic-system.database.windows.net;initial catalog=CLINIC-SYSTEM;persist security info=True;user id=db-admin;password=VC1$X@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>